<h4 class="text-center text-success">Signup Form</h4>
<div class="m-5 p-5 mx-auto col-md-10 border border-muted">
  <form [formGroup]="reactiveForms" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Username</label>
        <input type="text" class="form-control" placeholder="username*" formControlName="username"
          [ngClass]="{'is-invalid': (validation.username.touched || submitted) && validation.username.errors?.required}">
        <small style="color: red;"
          *ngIf="(validation.firstName.touched || submitted) && validation.firstName.errors?.required">Fill
          FirstName</small>
      </div>
      <div class="form-group col-md-6">
        <label>Last Name</label>
        <input type="text" class="form-control" placeholder="Last Name*" formControlName="lastName"
          [ngClass]="{ 'is-invalid': (validation.lastName.touched || submitted) && validation.lastName.errors?.required }">
        <small style="color: red;"
          *ngIf="(validation.lastName.touched || submitted) && validation.lastName.errors?.required">Fill
          LastName</small>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Email</label>
        <input type="email" class="form-control" placeholder="Email*" formControlName="email"
          [ngClass]="{'is-invalid': (validation.email.touched || submitted) && validation.email.errors?.required }">
        <small style="color: red;"
          *ngIf="(validation.email.touched || submitted) && validation.email.errors?.required">Fill Email</small>
      </div>
      <div class="form-group col-md-6">
        <label>Password</label>
        <input type="password" class="form-control" placeholder="password" formControlName="password"
          [ngClass]="{'is-invalid': (validation.password.touched || submitted) && (validation.password.errors?.required || validation.password.errors?.minlength) }">
        <small style="color: red;"
          *ngIf="(validation.password.touched || submitted) && (validation.password.errors?.required)">Fill
          Password</small>
        <small style="color: red;"
          *ngIf="(validation.password.touched || submitted) && validation.password.errors?.minlength">6 characters
          Required</small>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Select city</label>
        <select class="form-control" placeholder="choose" formControlName="city"
          [ngClass]="{'is-invalid': (validation.city.touched || submitted) && validation.city.errors?.required}">
          <option>Hyderabad</option>
          <option>Chennai</option>
          <option>Mumbai</option>
          <option>Banglore</option>
          <option>Pune</option>
          <option>Delhi</option>
        </select>
        <small style="color: red;"
          *ngIf="(validation.city.touched || submitted) && validation.city.errors?.required">Select city</small>
      </div>
      <div class="form-group col-md-6">
        <label>Select Role</label>
        <select class="form-control" placeholder="choose" formControlName="role"
          [ngClass]="{'is-invalid': (validation.role.touched || submitted) && validation.role.errors?.required}">
          <option>user</option>
          <option>admin</option>
        </select>
        <small style="color: red;"
          *ngIf="(validation.role.touched || submitted) && validation.role.errors?.required">Select city</small>
      </div>
      <!-- <div class="col-md-4">
        <label>Mobile Number</label>
        <input type="text" class="form-control" placeholder="Mobile Number" formControlName="mobile"
          [ngClass]="{'is-invalid': (validation.mobile.touched || submitted) && validation.mobile.errors?.required}">
        <small style="color: red;"
          *ngIf="(validation.email.touched || submitted) && validation.email.errors?.required">Fill Email</small>
      </div>
        <div class="form-group col-md-4">
          <label>Select city</label>
          <select class="form-control" placeholder="choose" formControlName="city"
            [ngClass]="{'is-invalid': (validation.city.touched || submitted) && validation.city.errors?.required}">
            <option value disabled selected>select city</option>
            <option>Hyderabad</option>
            <option>Chennai</option>
            <option>Mumbai</option>
            <option>Banglore</option>
            <option>Pune</option>
            <option>Delhi</option>
          </select>
          <small style="color: red;"
            *ngIf="(validation.city.touched || submitted) && validation.city.errors?.required">Select city</small>
        </div>
        <div class="col-md-4">
          <label>Select city</label>
          <select class="form-control" placeholder="choose" formControlName="role"
            [ngClass]="{'is-invalid': (validation.role.touched || submitted) && validation.role.errors?.required}">
            <option value disabled selected>select role</option>
            <option>Student</option>
            <option>Admin</option>
          </select>
          <small style="color: red;"
            *ngIf="(validation.role.touched || submitted) && validation.role.errors?.required">Select city</small>
        </div>
      </div> -->
    </div>
    <div class="d-flex justify-content-end mt-3">
      <button type="submit" class="btn btn-success" (click)="save()">Signup</button>
    </div>
  </form>
</div>